<html>

<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	{% load static %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
	<div class="signup-form">
		<form method="post">
			{% csrf_token %}
			<h2>Create Account</h2>

			<p class="lead">It's free and hardly takes more than 30 seconds.</p>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
					<input type="username" class="form-control" name="username" placeholder="Username"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
					<input type="email" class="form-control" name="email" placeholder="Email Address"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
					<input type="tel" class="form-control" name="tel" placeholder="tel" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" class="form-control" name="password" placeholder="Password"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>
					<input type="password" class="form-control" name="password2" placeholder="Confirm Password"
						required="required">
				</div>
			</div>
			{% for message in messages %}
			<i>***{{message}}</i>
			{% endfor %}
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
			</div>
        </div>        
		{% for message in messages %}
    	<i>***{{message}}</i>
    	{% endfor %}
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
        </div>
		<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
    </form>
	<div class="text-center">Already have an account? <a href="/login">Login here</a>.</div>
	
	{% comment %} <div> {% endcomment %}
	<br>
	<a href="/login" class="btn btn-primary btn-block btn-lg " style= "color:white; text-decoration: none">Back</a>
	{% comment %} </div> {% endcomment %}
</div>
</body>

</html>