
.form-gap {
    margin-top: 100px;
    padding-top: 70px;
    background-color: bisque;
    color: rgb(63, 59, 59);
}

.container {
    margin-top: 200px;
    max-width: 600px;
    height: 420px;
    margin-bottom: auto;
    
}

.body {
    color: gray;
    
}

.form-group .btn:hover, .form-group .btn:focus {
    background: #179b81;
}