<html>
    <head>  
        <meta charset="UTF-8">  
        {% load static %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>  

    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    
    <body>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="login" method="POST">
                            {% csrf_token %}
                                <h3 class="text-center text-info",style="color:cadetblue">Login</h3>
                                <div class="form-group">
                                    <label for="email" class="text-info">Email:</label><br>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="text-info">Phone Number:</label><br>
                                    <input type="text" name="phoneNumber" id="phoneNumber" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                 <div class="form-group">
                                <a href="/forgotpassword" class="text-info">Forgot Password?</a>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                               
                                <br><br>
                                <div id="register-link" class="text-right">
                                    <a href="/signup" class="text-info">Register here</a>
                                </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </body>
</html>