<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        {% if user.is_superuser %}
        <a href="{% url 'admin:logout' %}">logout</a><br>
        {% elif user.is_authenticated %}
        <li><a class="getstarted scrollto" href="logout">Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="/admin">Admin Log In</a></li>
        <li><a class="getstarted scrollto" href="login">Login</a></li>
        {% endif %}
        </ul>
    </nav>
    <div>
        <!--Dont touch here-->
        <div>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <h1>Welcome Admin {{user.username}}</h1>
                    <h2>You are logged into an admin account</h2>
                {% else %}
                     <h1>Welcome {{user.username}}</h1>
                     <h2>You are a user. Your email is {{user.email}}</h2>
                {% endif %}
            {% else %}
            <h1>Welcome</h1>
            <p>Have you considered signing in</p>
            {% endif %}
        </div>
    </div>
</body>

</html>