
<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fit2101_Project-Home</title>
</head>

<body>
    <nav>
        {% if user.is_superuser %}
        <li><a class="nav-link scrollto" href="/admin">View Admin controls</a></li>
        <li><a class="getstarted scrollto" href="logout">Logout</a></li>
        {% elif user.is_authenticated %}
        <li><a class="getstarted scrollto" href="logout">Logout</a></li>
        {% else %}
        <li><a class="getstarted scrollto" href="login">Login</a></li>
        {% endif %}
        </ul>
    </nav>
    <div>
        <!--Dont touch here-->
        <div>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <h1>Welcome Admin {{user.username}}</h1>
                    <h2>You are logged into an admin account</h2>
                {% else %}
                     <h1>Welcome {{user.username}}</h1>
                     
                {% endif %}
            {% else %}
            <h1>Welcome</h1>
            <p>Have you considered signing in</p>
            {% endif %}
        </div>
    </div>
    <br>
   
    <div class="widget">
        <h3><a href="add_widget">Add Widget</a> coming soon</h3>
    </div>
</body>

</html>