<!-- < <h1>Login now</h1>

<style>
    h3 {
        color: red
    }
</style>

<body>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        <form method="POST" action="">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="password" name="password"><br>
            <input type="submit">
            <br>
            <a href="/register">sign up</a>
        </form>
    </div>
</body>  -->
<html>

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" method="POST">
                            {% csrf_token %}
                            <h3 class="text-center text-info" ,style="color:cadetblue">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <a href="{% url 'reset_password1' %}" class="text-info">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>

                            <br><br>
                            <div id="register-link" class="text-right">
                                <a href="/register" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>