
{% comment %} <h1>Sign up below</h1>

    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}

<form method="POST" action="">
    {% csrf_token %}
    <p>
        username:
    </p>
    <input type="text" name="username">
    <p>
        email:
    </p>
    <input type="text" name="email">
    <p>
        password:
    </p>
    <input type="password" name="password">
    <p>
        password:
    </p>
    <input type="password" name="password2">
    <p>
        Telephone number:
    </p>
    <input type="number" name="tel">
    <input type="submit">
</form> {% endcomment %}
