<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" class="register-form" id="login-form" action= '' >
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Enter registered email</label>
            <input type="text" name="email" id="your_name" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Reset"/>
        </div>
    </form>
</body>
</html>
